
/* --------Custom rules-------- */
/* ------BG-------- */
.my_custom-bg{
    background: linear-gradient(0deg, rgba(52,51,51,1) 6%, rgba(0,0,0,0.9884686296393558) 84%, rgb(253, 150, 32) 84%); 
    height: 100vh;
}

#noChat{
    background-color: #f0f2f5;
}

/* scrollbar style */
/* body{
    scrollbar-color: #de3838 rgb(206, 99, 72);
    scrollbar-width: thin;
} */

/* ---------remove bootstrap input glow */
 .form-control:focus {
    border-color: #f3ac2a;
    box-shadow: 0 0 0 0.1rem rgba(244, 135, 11, 0.936);
} 

/* --------CUSTOM MEASUREMENTS/HEGHTS/WIDTHS-------- */
.my_nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

#app > div{
    height: 95vh;
    width: 80%;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.77); 
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.77);
}

 
/* ---------LEFT SIDE of app WRAPPER----------- */
#nav,
#userSettings{
    height: 95vh;

}
/* ---------User settings wrapper--------- */
#userSettings header{
    height: 110px;
    background-color: #ed7b29;
}

#userSettings #goHome{
    cursor: pointer;
}

#userSettings main{
    height: calc(100% - 110px);
    overflow: auto;
}

#userSettings main .my_top,
#userSettings main .my_bot{
    background-color: #f0f2f5;
}

#userSettings main .my_mid{
    color: rgb(225, 116, 44);
}

#userSettings .my_Name{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: black;
    max-width: 70%;
}

#userSettings #edit-tip{
    bottom: 5%;
}

/* ---------Nav/contacts wrapper--------- */
#nav #navHeader{
    height: 55px;
    background-color: rgb(225, 222, 222);
}

#nav #notifications{
    height: 60px;
    background: rgb(252, 136, 58);
}

#nav #searchBar{
    height: 50px;
}

#nav #myContacts{
    /*  100% - #searchBar - #notifications - #navHeader  */
    height: calc(100% - 50px - 60px - 55px);
    overflow-y: scroll;
}

.my_lastMessageDate{
    min-width: 60px;
}

#notificationsCircle{
    width: 35px; 
    aspect-ratio: 1/1;
}

/* ------CHAT WRAPPER------- */
#chatContainer,
#noChat,
.chat{
   height: 95vh;
}

#noChat{
    border-width: 10px !important;
    border-color: rgb(252, 136, 58) !important;
}

.chat header{
    height: 55px;
    background-color: rgb(225, 222, 222);
}

.chat main{
    /*      100% - chatHeader - chatFooter */
    /* height: calc(100% - 55px - 55px); */
    background-image: url("../img/mine.jpg");
}

.chat footer{
    height: 55px;
    background-color: #ede6e1;
}

/* --------IMAGES-------- */
img:not(.special):not(#userSettings img):not(#nav #navHeader img):not(.message img){
    width: 35px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#nav #navHeader img{
    width: 40px;
    aspect-ratio: 1/1;
    cursor: pointer;
    object-fit: cover;
}

#myContacts img{
    width: 40px;
}

#userSettings img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.special{
    max-width: 400px;
    margin-top: 15%;
}

/* --------TEXT-------- */
* :not(h1,h2,h3,h4,h5,h6){
    font-size: 0.8rem;
}

/* --------removing bottom border on last contact------ */
.border-bottom:last-child:not(#noChat) {
    border-bottom: none !important;
}

/* --------ON HOVER-------- */
.contact-card{
    transition: 0.6s;
}

.contact-card:hover:not(.active){
    background-color: rgb(237, 237, 237);
    cursor: pointer;
}

/* ------------CHANGE PROFILE PIC HOVER----------- */
#my_profile-picture{
    cursor: pointer;
}

.hover-text-wrapper{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 24px;
    border-radius: 50%;
    z-index: -1;
    transition: 1.5s ease-out;
}

#my_profile-picture:hover .hover-text-wrapper{
    display: flex!important;
    z-index: 1;
    background-color: rgba(30, 30, 30, 0.6);
    transition: 0.2s linear;
}
/* ------------CHANGE PROFILE PIC HOVER--------------- */
/* --------ON HOVER-------- */

#changeTheme,
#changeTheme2,
#openNewChat,
#settings,
#searchInChat,
#attachment,
#contactSettings,
#emoji,
#voiceRecord,
#voiceSend,
#voiceStop,
#voiceCancel,
#edit,
#closeEmojis{
    cursor: pointer;
    transition: 0.3s;
}

#voiceRecord:hover,
#voiceStop:hover,
#voiceSend:hover,
#emoji:hover,
#changeTheme:hover,
#changeTheme2:hover,
#openNewChat:hover,
#settings:hover,
#searchInChat:hover,
#attachment:hover,
#contactSettings:hover{
    color: rgb(252, 136, 58);
}

#voiceCancel:hover{
    color: red;
}

#voiceSend{
    margin-left: 19px!important;
}
/* --------Js classes manipulation-------- */
.active{
    background-color: rgb(225, 222, 222);
    cursor: pointer;
}

.italics{
    font-style: italic;
}

/* ------MESSAGES SECTION------ */
.messagesContainer{
    padding: 0 70px;
    overflow-y: scroll;
    overflow-x: hidden;
    align-content: flex-start;
}

.message{
    max-width:65%;
    min-width: 10%;
    padding: 15px 30px;
    margin-bottom:10px;
    word-break: break-all;
    white-space: normal;
    border-radius: 10px;
}

.dateSpan{
    position: absolute;
    bottom: 3%;
    right: 2%;
}

.sent{
    background-color:rgb(250, 181, 103);;
    align-self: flex-end;
}

.received{
    background-color:#fdfdfd;
    align-self: flex-start;
}

.message img:not(.profilePic){
    padding: 12px 0;
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1/1!important;
    object-fit: contain;
}

.profilePic{
    width: 45px!important;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* /* Firefox-specific CSS styles */
@supports (-moz-appearance:none) {
    audio {
        width: 90%;
        border-radius: 20px;
    }
  }

.bi-mic-fill{
    bottom: 0;
    left: 47%;
    color: black;
    font-size: 20px;
}

/* dropDown menu */
#dropDown{
    position: absolute;
    top: 0;
    right: 1%;
    padding: 3px;
    display: none;
    cursor: pointer;
}

.message:hover #dropDown{
    display: block;
}

  
/* OFFCANVAS */
.emojiContainer{
    height: 200px;
    background-color: rgb(225, 222, 222);
}

.emoji-wrapper {
    overflow: auto;
}
  
.emoji {
    display: inline-block;
    margin-right: 10px;
    transform: scale(2);
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol";
}
/* OFFCANVAS */


/*----- Modal -------*/
.modal{
    width: 70%;
    left: 15%;
}

.modal-body{
    max-height: 60vh;
}

.imageSelection{
    width: calc((100% / 4) - 55px)!important;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.selected{
    border: solid 10px #ed7b29;
}

.my_orange-btn{
    background-color: rgb(252, 136, 58);
    transition: 0.5s;
}

.my_orange-btn:hover{
    background-color: #ff6a00;
}

/* modal backdrop fix */
.modal-backdrop {
    z-index: -1;
}

.border-dark-subtle{
    border-color: #d8dbe0!important;
}

/* --------DEBUG-------- */
.my_bordered{
    border: 1px solid red;

}

.my_bordered2{
    border: 1px solid blue;
}

.my_bordered3{
    border: 1px solid rgb(23, 255, 23);
}


