<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzapp</title>
        <!-- fontawesome icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <!-- boostrap style sheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <!-- my CSS files -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/mediaQuery.css">
        
    </head>
    <body class="my_custom-bg relative overflow-hidden">

    <div id="app" class="container bg-white mt-3 position-absolute top-0 start-50 translate-middle-x">
        <div class="row">
            <div id="nav" class="my_nopadding col-4 border-end border-dark-subtle">
<!---------- UserProfile Start---------->
                <div id="userProfileSettings" class="d-flex align-items-center justify-content-between p-2">
                    <div id="profileSettingsLeft" class="d-flex align-items-center">
                        <img class="rounded-circle me-2" :src="'img/avatar' + userProfile.avatar + '.jpg'" alt="">
                        <h6 class="my_nopadding">
                            {{userProfile.name}}
                        </h6>
                    </div>
                    <div id="profileSettingsRight" class="d-flex align-items-center text-light-emphasis">
                        <i id="status" class="fa-solid fa-circle-notch p-1"></i>
                        <i id="openNewChat" class="fa-solid fa-message p-1 mx-2"></i>
                        <i id="settings" class="fa-solid fa-ellipsis-vertical p-1"></i>
                    </div>
                </div>
<!---------- UserProfile End---------->

<!---------- Notifications "pop-up" Start---------->
                <div id="notifications" class="d-flex align-items-center p-2 g-2">
                    <div id="notificationsCircle" class="d-flex justify-content-center align-items-center bg-white rounded-circle">
                        <i style="color: rgb(164, 248, 91) !important;" class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="mx-2">
                        <p class="my_nopadding">Get new messages notifications!</p>
                        <a href="#nogo">Enable desktop notifications</a>
                    </div>
                </div>
<!---------- Notifications "pop-up" End---------->

<!---------- searchBar Start---------->
                <div id="searchBar" class=" p-2 d-flex">
                    <div class="input-group input-group-sm" style="height: 50%;">
                        <label for="inputSearchBar" class="input-group-text px-3">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </label>
                        <input id="inputSearchBar" v-model="searchBarInput" type="search" placeholder="Search or start new chat" @input="findContacts()" class="form-control">
                    </div>
                </div>
<!---------- searchBar End---------->

<!---------- contacts Start---------->
                <div id="myContacts" class="">
                    <template v-for="(contact, index) in contacts">
                        <div v-if="contact.visible" v-on:click="setActiveContact(index)" :class="(activeContact === index ? 'active' : '')" class="p-2 d-flex border-bottom border-top border-dark-subtle contact-card">
                            <img class="rounded-circle my-2" :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                            <div class="px-2 flex-grow-1 overflow-hidden">
                                <h5 class="my_nopadding">
                                    {{ contact.name}}
                                </h5>
                                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="placeholder" class="d-inline-block text-truncate w-100 text-secondary" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iste voluptatum asperiores suscipit iusto vero voluptatem repellendus eaque, animi in.</span>
                            </div>
                            <div class="text-end flex-shrink-0 mt-1 text-secondary" style="font-size: 0.6rem;"> 
                                yesterday
                            </div>
                        </div>
                    </template>
                </div>
<!---------- contacts End---------->
            </div>

 <!----------Chat container  Start---------->
            <div id="chatContainer" class="my_nopadding col-8">
                <!-- "homepage-chat" Start-->
                <div v-if="activeContact == null" id="noChat" class="d-flex flex-column align-items-center justify-content-around">
                    <img class="special" src="img/backdrop_light.png" alt="backdrop_light">
                    <div class="text-center">
                        <h2>BoolZapp Web</h2>
                        <p class="my-3">Send and receive messages without keeping your phone online <br> Use BoolzApp on up to 0 linked devices and phones at the same time</p>
                    </div>
                    <span class="my-3"><i class="fa-solid fa-lock-open"></i> not encrypted</span>
                </div>
                <!-- "homepage-chat" End-->

                <!-- real chat Start -->
                <div v-else class="chat">
                    <!-- chat header -->
                    <header class="d-flex justify-content-between p-2">
                        <div class="d-flex alig">
                            <div>
                                <img class="rounded-circle " :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'"  :alt="contacts[activeContact].name">
                            </div>
                            <div class="px-2 flex-grow-1 overflow-hidden">
                                <h6 class="my_nopadding">
                                    {{ contacts[activeContact].name }}
                                </h6>
                                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="placeholder" class="d-inline-block w-100 text-secondary" style="font-size: 0.7rem;">Last login placeholder</span>
                            </div>
                        </div>
                        <div id="profileSettingsRight" class="d-flex align-items-center text-light-emphasis">
                            <i id="searchInChat" class="fa-solid fa-magnifying-glass p-1"></i>
                            <i id="attachment" class="fa-solid fa-paperclip mx-2 p-1"></i>
                            <i id="contactSettings" class="fa-solid fa-ellipsis-vertical p-1"></i>
                        </div>
                    </header>
                    <!-- chat header -->

                    <!-- chat main body -->
                    <main class="d-flex flex-column py-3 messagesContainer">
                        <div v-for="(msg, index) in contacts[activeContact].messages" class="pe-4 ps-2" 
                        :class="{ 
                            'message': true, 
                            'sent': msg.status == 'sent', 
                            'received': msg.status == 'received', 
                            'd-flex': true, 
                            'flex-column': true, 
                            'position-relative': true,
                            'italics': msg.message == 'This message was deleted'
                        }">
                            {{msg.message}}
                            <span class="text-secondary align-self-end mt-1" style="font-size: 0.58rem;">
                                {{ msg.date }}
                            </span>
                            <!-- Drop BUTTON and MENU -->
                            <i id="dropDown" data-bs-toggle="dropdown" class="fa-solid fa-chevron-down"></i>
                            <ul v-if="msg.message !== 'This message was deleted'" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#nogo">Message info (placeholder)</a></li>
                                <li><a @click="removeMessage(activeContact, index)" class="dropdown-item" href="#nogo">Delete message</a></li>
                            </ul>
                        </div>
                    </main>
                    <!-- chat main body -->

                    <!-- chat footer -->
                    <footer class="p-2 d-flex align-items-center">
                        <i id="emoji" class="fa-regular fa-face-smile mx-4 p-1 fs-5"></i>
                        <form @submit.prevent="addNewMessage(activeContact)"  class="flex-grow-1">
                            <input v-model="newInput" id="sendMessage" required pattern=".*\S.*" title="Type a message" type="text" placeholder="Type a message" class="form-control">
                        </form>
                        <i id="voiceRecord" class="fa-solid fa-microphone mx-4 p-1 fs-5"></i>
                    </footer>
                    <!-- chat footer -->
                </div>
                <!-- real chat End -->
            </div>
 <!----------Chat container  End---------->
        </div>
    </div>



<!---------------------- SCRIPTS ---------------------->
        <!-- Bootstrap script plugins -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
         <!-- VueJS script-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- My js script -->
        <script type="text/javascript" src="js/script.js"></script>
<!---------------------- SCRIPTS ---------------------->
    </body>
    </html>

