<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzapp BONUS</title>
        <link rel="icon" href="img/tab_icon_bonus.png">
        <!-- fontawesome icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <!-- boostrap style sheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <!-- my CSS files -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/mediaQuery.css">
        
    </head>
    <body class="my_custom-bg relative overflow-hidden">

    <div id="app">
        <div  class="container bg-white mt-3 position-absolute top-0 start-50 translate-middle-x" >
            <div class="row" :class="{'dark' : darkTheme}">
                <!----------User Settings Start---------->
                <div v-if="activeSettings" id="userSettings" class="my_nopadding col-4 border-end border-dark-subtle d-flex flex-column">
                    <header class="d-flex align-items-end p-2 ps-3">
                        <div class="d-flex align-items-center">
                            <i id="goHome" @click="activeSettings = false" class="fa-solid fa-left-long fs-5 me-3 p-2"></i>
                            <h4 class="my_nopadding">Profile</h4>
                        </div>
                    </header>
    
                    <Main class="d-flex flex-column overflow-x-hidden">
                        <div class="my_top d-flex align-items-center justify-content-center p-4 position-relative">
                            <div id="my_profile-picture" data-bs-toggle="modal" data-bs-target="#chooseAvatar" @click="choosingAvatar = !choosingAvatar">
                                <img :src="userProfile.avatar" alt="" class="rounded-circle">
                                <div class="hover-text-wrapper text-white d-flex flex-column justify-content-center align-items-center">
                                    <i class="fa-solid fa-camera fs-4 my-2"></i>
                                    <h6 class="text-center">CHANGE <br> PROFILE PHOTO</h6>
                                </div>
                            </div>
                            <!-- MODAL -->
                            <div class="modal fade modal-xl" data-bs-backdrop="static" id="chooseAvatar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: rgb(225, 222, 222);">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                Change your Profile picture
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body d-flex flex-wrap justify-content-center align-items-center p-5 overflow-auto">
                                            <img v-for="(avatar, index) in avatars" class="m-4 imageSelection rounded-circle" :class="(avatar.selected === true ? 'selected' : '')" :src="avatar.picture" @click="selectNewAvatar(index)" alt="">
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center" style="background-color: rgb(225, 222, 222);">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="choosingAvatar = !choosingAvatar, resetAvatarSelection()">
                                                Close
                                            </button>
                                            <button type="button" class="btn my_orange-btn" @click="assignAvatar()" data-bs-target="#pop-up_alert" data-bs-toggle="modal">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MODAL -->

                            <!-- MODAL 2 (popup)-->
                            <div class="modal fade" id="pop-up_alert" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: rgb(252, 136, 58);">
                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Success!</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center" style="background-color: rgb(225, 222, 222);">
                                            <button class="btn px-3 my_orange-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MODAL 2 (popup)-->
                        </div>

                        <div class="my_mid d-flex flex-column p-4 position-relative">
                            <span>
                                Your Name
                            </span>
                            <div class="text-dark d-flex align-items-center justify-content-between my-2">
                                <input @blur="disableInput" @keydown.enter="saveNewName()" ref="changeName" v-model="userProfile.name" type="text"  disabled  class="my_Name"></input>
                                <i @click="editUserName" id="edit" class="fa-solid fa-pencil fs-6 p-2"></i>
                            </div>
                            <span id="edit-tip" v-show="isEditing" class="position-absolute"> Press Enter to save your new Name </span>
                        </div>
                        <div class="my_bot d-flex p-4">
                            <span>This is not your username or pin. This name will be visible to your BoolZapp contacts.</span>
                        </div>
                    </Main>
                </div>
                <!----------User Settings End------------>
                
                <!----------nav Start---------->
                <div v-else id="nav" class="my_nopadding col-4 border-end border-dark-subtle">
                    <!---------- navHeader Start---------->
                    <div id="navHeader" class="d-flex align-items-center justify-content-between p-2">
                        <div class="d-flex align-items-center">
                            <img @click="activeSettings = true" class="rounded-circle me-2" :src="userProfile.avatar" alt="">
                            <h6 class="my_nopadding">
                                {{userProfile.name}}
                            </h6>
                        </div>
                        <div class="d-flex align-items-center text-light-emphasis dropstart">
                            <i v-if="darkTheme == true" id="changeTheme2" @click="switchTheme" class="fa-solid fa-sun p-1"></i>
                            <i v-else id="changeTheme" @click="switchTheme" class="fa-solid fa-moon p-1"></i>
                            <label data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search or start a new chat" for="inputSearchBar" id="openNewChat" class="fa-solid fa-message p-1 mx-2"></label>
                            <i id="settings" data-bs-toggle="dropdown" class="fa-solid fa-ellipsis-vertical p-1"></i>
    
                            <!-- settings DropDown -->
                            <ul class="dropdown-menu my-4 ps-2">
                                <li>
                                    <a class="dropdown-item" href="#nogo">New contact (placeholder)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#nogo">Settings (placeholder)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!---------- navHeader End---------->
                
                    <!---------- Notifications "pop-up" Start---------->
                    <div id="notifications" class="d-flex align-items-center p-2 g-2">
                        <div id="notificationsCircle" class="d-flex justify-content-center align-items-center bg-white rounded-circle">
                            <i style="color: rgb(252, 136, 58) !important;" class="fa-solid fa-bell-slash fs-5"></i>
                        </div>
                        <div class="mx-2">
                            <p class="my_nopadding">Get new messages notifications!</p>
                            <a href="#nogo">Enable desktop notifications</a>
                        </div>
                    </div>
                    <!---------- Notifications "pop-up" End---------->
                
                    <!---------- searchBar Start---------->
                    <div id="searchBar" class=" p-2 d-flex">
                        <div class="input-group input-group-sm" style="height: 50%;">
                            <label for="inputSearchBar" class="input-group-text px-3">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </label>
                            <input id="inputSearchBar" v-model="searchBarInput" type="search" placeholder="Search or start new chat" @input="findContacts()" class="form-control">
                        </div>
                    </div>
                    <!---------- searchBar End---------->
                
                    <!---------- contacts Start---------->
                    <div id="myContacts" class="">
                        <template v-for="(contact, index) in contacts">
                            <div v-if="contact.visible" v-on:click="setActiveContact(index)" :class="(activeContact === index ? 'active' : '')" class="p-2 d-flex border-bottom border-top border-dark-subtle contact-card">
                                <img class="rounded-circle my-2" :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                <div class="px-2 flex-grow-1 overflow-hidden">
                                    <h5 class="my_nopadding">
                                        {{ contact.name}}
                                    </h5>
                                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" :title="this.contacts[index].messages[this.contacts[index].messages.length -1].message" class="w-100 d-inline-block text-truncate  text-secondary" > 
                                        <i v-if="this.contacts[index].messages[this.contacts[index].messages.length -1].status == 'sent'" class="fa-solid fa-check"></i>
                                        {{ this.contacts[index].messages[this.contacts[index].messages.length -1].message }}
                                    </span>
                                </div>
                                <div class="my_lastMessageDate text-end flex-shrink-0 mt-1 text-secondary" style="font-size: 0.6rem;"> 
                                    {{ this.contacts[index].messages[this.contacts[index].messages.length -1].date === 'now' ? 'now' :(this.contacts[index].messages[this.contacts[index].messages.length -1].date.length < 6? 'Today at ' + this.contacts[index].messages[this.contacts[index].messages.length -1].date : this.contacts[index].messages[this.contacts[index].messages.length -1].date) }}
                                </div>
                            </div>
                        </template>
                    </div>
                    <!---------- contacts End---------->
                </div>
                <!------------nav end------------>
                
                <!----------Chat container  Start---------->
                <div id="chatContainer" class="my_nopadding col-8">
                    <!---------- "homepage-chat" Start---------->
                    <div v-if="activeContact == null" id="noChat" class="d-flex flex-column align-items-center justify-content-around border-bottom">
                        <img class="special" src="img/backdrop_light.png" alt="backdrop_light">
                        <div class="text-center">
                            <h2>BoolZapp Web</h2>
                            <p class="my-3">Send and receive messages without keeping your phone online <br> Use BoolzApp on up to 0 linked devices and phones at the same time.</p>
                        </div>
                        <span class="my-3"><i class="fa-solid fa-lock-open mx-1"></i> not encrypted</span>
                    </div>
                    <!---------- "homepage-chat" End---------->
                
                    <!---------- real chat Start ---------->
                    <div v-else class="chat d-flex flex-column">
                        <!-- chat header -->
                        <header class="d-flex justify-content-between p-2 flex-shrink-0">
                            <template v-for="(contact, index) in contacts">
                                <div class="d-flex"  v-if="index === activeContact">
                                    <div>
                                        <img class="rounded-circle " :src="'img/avatar' + contact.avatar + '.jpg'"  :alt="contact.name">
                                    </div>
                                    <div class="px-2 flex-grow-1 overflow-hidden">
                                        <h6 class="my_nopadding">
                                            {{ contact.name }}
                                        </h6>
                                        
                                        <span v-if="contact.isChatting == true && newMessageSent && newMessageSent !== 'typing'" data-bs-toggle="tooltip" data-bs-placement="bottom" title="placeholder" class="d-inline-block w-100 text-secondary" style="font-size: 0.7rem;">
                                            {{  "Online" }}
                                        </span>
                                        <span v-if="contact.isChatting == true && newMessageSent === 'typing' " data-bs-toggle="tooltip" data-bs-placement="bottom" title="placeholder" class="d-inline-block w-100 text-secondary" style="font-size: 0.7rem;">
                                            {{  "typing..." }}
                                        </span>
                                        <span v-else data-bs-toggle="tooltip" data-bs-placement="bottom" title="placeholder" class="d-inline-block w-100 text-secondary" style="font-size: 0.7rem;">
                                            {{  lastMessage.date === 'now' ? 'now' :  (lastMessage.date.length < 6 ? 'Today at ' + lastMessage.date : lastMessage.date) }}
                                        </span>
                                    </div>
                                </div>
                            </template>
                            
                            <div id="profileSettingsRight" class="d-flex align-items-center text-light-emphasis">
                                <i id="searchInChat" class="fa-solid fa-magnifying-glass p-1"></i>
                                <i id="attachment" class="fa-solid fa-paperclip mx-2 p-1"></i>
                                <i id="contactSettings" class="fa-solid fa-ellipsis-vertical p-1"></i>
                            </div>
                        </header>
                        <!-- chat header -->
                
                         <!-- chat main body -->
                        <main class="d-flex flex-column py-3 messagesContainer flex-grow-1" ref="messagesContainer">
                            <div v-for="(msg, index) in contacts[activeContact].messages" class="pe-4 ps-2" 
                            :class="{ 
                                'message': true, 
                                'sent': msg.status == 'sent', 
                                'received': msg.status == 'received', 
                                'd-flex': true, 
                                'flex-column': true, 
                                'position-relative': true,
                                'italics': msg.message == 'This message was deleted'
                            }">
                                {{msg.message}}
                                <audio v-if="msg.voiceMsg" :src="msg.voiceMsg" :controls="true">
                                </audio>
                                <span class="dateSpan text-body-tertiary mt-1 pe-1" style="font-size: 0.58rem;">
                                    {{ msg.date }}
                                </span>
                                <!-- Drop BUTTON and MENU -->
                                <i id="dropDown" data-bs-toggle="dropdown" class="fa-solid fa-chevron-down"></i>
                                <ul v-show="msg.message !== 'This message was deleted'" class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#nogo">Message info (placeholder)</a>
                                    </li>
                                    <li>
                                        <a @click="removeMessage(activeContact, index), removeVoiceMessage(activeContact, index)" class="dropdown-item" href="#nogo">Delete message</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </main>
                        <!-- chat main body -->
                
                            <!-- chat offcanvas -->
                        <div v-if="emojiOpen"  class="emojiContainer flex-shrink-0 position-relative d-flex flex-column p-3">
                            <h5 class="border-bottom border-dark-subtle py-2">Emoji list</h5>
                            <i @click="closeEmojiCanvas" id="closeEmojis" class="fa-solid fa-circle-xmark fs-4 position-absolute top-0 end-0 p-3"></i>
                            <div class="emoji-wrapper d-flex flex-wrap">
                                <span v-for="(emoji,index) in emojis" class="emoji" @click="addEmoji(emoji)">
                                    {{emoji}}
                                </span>
                            </div>
                        </div>
                            <!-- chat offcanvas -->
                
                        <!-- chat footer -->
                        <footer class="p-2 d-flex align-items-center flex-shrink-0">
                            <i id="emoji" @click="openEmojiCanvas" class="fa-regular fa-face-smile mx-4 p-1 fs-5"></i>
                            <form @submit.prevent="addNewMessage(activeContact)" class="flex-grow-1">
                                <input v-model="newInput" id="sendMessage" required :disabled="recordingStarted && !recordingStopped" title="Type a message" type="text" placeholder="Type a message" class="form-control" ref="msgInput">
                            </form>
                            <span v-if="recordingStarted && !recordingStopped" class="ms-4 p-1">Recording...</span>
                            <i v-if="!recordingStarted" @click="startRecording()" id="voiceRecord" ref="startBtn" class="fa-solid fa-microphone mx-4 p-1 fs-5"></i>
                            <i v-if="recordingStarted && !recordingStopped" @click="this.mediaRecorder.stop(), stopRecording()" id="voiceStop" class="fa-solid fa-stop mx-4 p-1 fs-5"></i>
                            <i v-if="recordingStopped == true" @click="this.addNewMessage(activeContact)" id="voiceSend" class="fa-solid fa-paper-plane mx-4 p-1 fs-5"></i>
                        </footer>
                        <!-- chat footer -->
                    </div>
                    <!---------- real chat End ---------->
                </div>
                <!----------Chat container  End---------->
            </div>
        </div>
    </div>


<!---------------------- SCRIPTS ---------------------->
        <!-- Bootstrap script plugins -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
         <!-- VueJS script-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- My js script -->
        <script type="text/javascript" src="js/script.js"></script>
<!---------------------- SCRIPTS ---------------------->
    </body>
    </html>

